//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.container(ng-if='selectedGame && selectedVersion' ng-controller='GameCtrl' gameid='{{selectedGame._id}}', versionid='{{selectedVersion._id}}')
    .panel.panel-default(ng-if='isDeveloper()' style='width=100%')
        .panel-body(ng-if='!game || !version')
            img(src='loading.svg')
        .panel-heading(ng-if='game && version' style='font-size: 2.5em')
            block dataHeader
                span
                    a(ng-if='!isDeveloper()') Game {{ game.title }} -
                    a(ng-if='isDeveloper()' href="#", editable-text="game.title" onaftersave="changeTitle()") Game {{ game.title }}
                span(ng-if='!isDeveloper() && selectedClass' ng-controller='ClassCtrl' forclass='{{ selectedClass }}')
                    a(ng-if='isTeacher()' href="#", editable-text="class.name" onaftersave="changeName()")  Class {{ class.name }} -
                    a(ng-if='isStudent()') Class {{ class.name }} -
                span(ng-if='!isDeveloper() && activity')
                    span(ng-if='isTeacher()')
                        a(href="#", editable-text="activity.name" onaftersave="changeActivityName()")  Activity {{ activity.name }}
                    a(ng-if='isStudent()') Activity {{ activity.name }}
                span(ng-if='isTeacher()' style='float: right; margin-top: 5px; font-size: 0.70em;')
                    button.btn-success(ng-if='activityState() == 2 && isOnlineActivityParam(activity)' ng-click='endActivity()') Opened
                    button.btn-warning(ng-if='activityState() == 0 && isOnlineActivityParam(activity)' ng-click='startActivity()') Closed
                    button.btn-info(ng-if='activityState() == 1 && isOnlineActivityParam(activity)') Loading
                        span.fa.fa-refresh.fa-spin
                    p.btn-info(ng-if='isOfflineActivityParam(activity)') Offline Activity
        .panel-body.tabled(ng-if='game && version' style='padding-top: 0px')
            block dataMenu
                .row.row-tabled
                    .col-xs-3.col-md-2.left-menu
                        include data/menu
                    .col-xs-9.col-md-10.tab-content.table-cell
                        #info.tab-pane.active
                            include data/information
                        #realtime.tab-pane
                            include data/realtime/realtime
                        #participants.tab-pane
                            include data/participants
                        #attempts.tab-pane
                            include data/attempts
                        #config.tab-pane
                            include data/config
                        #analysis.tab-pane
                            include data/analysis
                        #dev-visualization.tab-pane
                            include data/dev-visualization
                        #game-analytics.tab-pane
                            include data/game-analytics
    .panel.panel-default(ng-if='!isDeveloper() && selectedActivity' ng-controller='ActivityCtrl' activity='{{ selectedActivity }}' style='width=100%')
        .panel-body(ng-if='!game || !version || !activity')
            img(src='loading.svg')
        .panel-heading(ng-if='game && version && activity' style='font-size: 2.5em')
            block dataHeader
        .panel-body.tabled(ng-if='game && version && activity' style='padding-top: 0px')
            block dataMenu