//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.container(ng-if='selectedGame && selectedVersion' ng-controller='GameCtrl' gameid='{{selectedGame._id}}', versionid='{{selectedVersion._id}}')
    div(style='width=100%')
        img(style='align="center"' src='loading.svg' ng-if='!game || !version')
    .theme-showcase(ng-if='game && version')
        .col-md-12
            h1
                a(ng-if='isDeveloper()' href="#", editable-text="game.title" onaftersave="changeTitle()") Game {{ game.title }}
                label(ng-if='!isDeveloper()') Game {{ game.title }} -
                span(ng-if='!isDeveloper() && selectedClass' ng-controller='ClassCtrl' forclass='{{ selectedClass }}')
                    a(ng-if='isTeacher()' href="#", editable-text="class.name" onaftersave="changeName()")  Class {{ class.name }}
                    label(ng-if='isStudent()') Class {{ class.name }}
        .col-md-12(ng-if='!isDeveloper() && selectedActivity' ng-controller='ActivityCtrl' lite='true' activity='{{ selectedActivity }}')
            h3(ng-if='isTeacher()')
                a(href="#", editable-text="activity.name" onaftersave="changeActivityName()") Activity {{ activity.name }}
            h3(ng-if='isStudent()') Activity {{ activity.name }}
            div(ng-if='isTeacher()')
                button.btn-success(ng-if='activityState() == 2' ng-click='endActivity()') Opened
                button.btn-warning(ng-if='activityState() == 0' ng-click='startActivity()') Closed
                button.btn-info(ng-if='activityState() == 1') Loading
                    span.fa.fa-refresh.fa-spin

        .container-fluid(ng-show="selectedVersion")
            .row
                .col-xs-3.col-md-2.left-menu
                    include data/menu
                .col-xs-9.col-md-10.tab-content
                    #info.tab-pane.active
                        include data/information
                    #realtime.tab-pane
                        include data/realtime/realtime
                    #students.tab-pane
                        include data/students
                    #teachers.tab-pane
                        include data/teachers
                    #config.tab-pane
                        include data/config
                    #analysis.tab-pane
                        include data/analysis
                    #dev-visualization.tab-pane
                        include data/dev-visualization
                    #game-analytics.tab-pane
                        include data/game-analytics