//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.container
    .theme-showcase(ng-if='!isDeveloper()').col-md-12
        //- Activities
        .panel.panel-default(ng-controller='ActivityListCtrl', ng-init='init()')
            .panel-heading My Activities
            .panel-body
                .panel.panel-primary(ng-if='isTeacher()')
                    .panel-heading Create a new Activity
                    .panel-body
                        label Activity name:
                            input.form-control(placeholder='New Activity' type='text' ng-model='activity.name')
                        label Game:
                            select.form-control(ng-model='activity.gameId')
                                option(ng-repeat='game in games' value='{{ game._id }}') {{ game.title }}
                        label Class:
                            select.form-control(ng-model='activity.classId')
                                option(ng-repeat='class in classes' value='{{ class._id }}') {{ class.name }}
                        a.btn.btn-primary(type='button', ng-click='createActivity()')
                            span.glyphicon.glyphicon-plus.right10
                            | New activity
                        p.btn-danger {{activityCreatedError}}
                p.btn-danger {{activityOpenedError}}
                table.table.table-hover
                    thead
                        tr
                            th Name
                            th Game
                            th Class
                            th Created
                            th(ng-if='isTeacher()') State
                            th(ng-if='isTeacher()') Delete
                    tbody
                        tr(ng-if='activities.length == 0')
                            td(colspan=6)
                                div.alert.alert-info(style='margin-bottom: 0px') No activities found
                        tr(ng-repeat='localactivity in activities', ng-controller='ActivityCtrl' lite activity='{{ localactivity }}')
                            td
                                span.glyphicon.glyphicon-stats.right10
                                a(ng-href="#" ng-click='goToActivity(localactivity)') {{ localactivity.name }}
                            td
                                a(ng-href='#', ng-click='goToGame(getGameById(localactivity.gameId))') {{ getGameById(localactivity.gameId).title }}
                            td
                                a(ng-href='#', ng-click='goToClass(getClassById(localactivity.classId))') {{ getClassById(localactivity.classId).name }}
                            td {{localactivity._id | prettyDateId }}
                            td(ng-if='isTeacher()')
                                button.btn-success(ng-if='activityState() == 2 && isOnlineActivityParam(localactivity)' ng-click='endActivity()') Opened
                                button.btn-warning(ng-if='activityState() == 0 && isOnlineActivityParam(localactivity)' ng-click='startActivity()') Closed
                                button.btn-info(ng-if='activityState() == 1 && isOnlineActivityParam(localactivity)') Loading
                                    span.fa.fa-refresh.fa-spin
                                p.btn-info(ng-if='isOfflineActivityParam(localactivity)') Offline Activity
                            td(ng-if='isTeacher()')
                                a(ng-click='deleteActivity(localactivity)')
                                    span.glyphicon.glyphicon-remove-sign
    //- Games
    .theme-showcase(ng-class='(isDeveloper() ? "col-md-12" : "col-md-6")')
        .panel.panel-default(ng-controller='GameListCtrl')
            .panel-heading(ng-if='isDeveloper()') My Games
            .panel-heading(ng-if='!isDeveloper()') Public Games
            .panel-body
                .panel.panel-primary(ng-if='isDeveloper()')
                    .panel-heading Create a new Game
                    .panel-body
                        label Game title:
                            input.form-control(placeholder='New Game' type='text' ng-model='game.gameTitle')
                        a.btn.btn-primary(align='center' type='button', ng-click='createGame()')
                            span.glyphicon.glyphicon-plus.right10
                            | New game
                        a.col-md-offset-1(href="{{DOCS.DEVELOPERSTEPS}}" target="_blank") Help
                table.table.table-hover
                    thead
                        tr
                            th Title
                            th Created
                            th(ng-if='isDeveloper()') Delete
                    tbody
                        tr(ng-if='games.length == 0')
                            td(colspan=6)
                                div.alert.alert-info(style='margin-bottom: 0px') No games found
                        tr(ng-repeat='game in games')
                            td
                                span.glyphicon.glyphicon-stats.right10
                                a(ng-href='#', ng-click='goToGame(game)') {{game.title}}
                            td {{game._id | prettyDateId }}
                            td(ng-if='isDeveloper()')
                                a(ng-click='deleteGame(game)')
                                    span.glyphicon.glyphicon-remove-sign
    //- Classes
    .theme-showcase(ng-if='!isDeveloper()').col-md-6
        .panel.panel-default(ng-controller='ClassListCtrl')
            .panel-heading My Classes
            .panel-body
                .panel.panel-primary(ng-if='isTeacher()')
                    .panel-heading Create a new Class
                    .panel-body
                        label Class title:
                            input.form-control(placeholder='New Class' type='text' ng-model='class.name')
                        a.btn.btn-primary(type='button', ng-click='createClass()')
                            span.glyphicon.glyphicon-plus.right10
                            | New class
                table.table.table-hover
                    thead
                        tr
                            th Name
                            th Course
                            th(ng-if='isTeacher()')
                            th Created
                            th(ng-if='isTeacher()') Delete
                    tbody
                        tr(ng-if='classes.length == 0')
                            td(colspan=6)
                                div.alert.alert-info(style='margin-bottom: 0px') No classes found
                        tr(ng-repeat='class in classes')
                            td(ng-controller='AppCtrl')
                                span.glyphicon.glyphicon-stats.right10
                                a(ng-href='#', ng-click='goToClass(class)') {{class.name}}
                            td(ng-if='showSelectBox(class) && !editBox(class)')
                                select.form-control(ng-model='courseId.id')
                                    option(ng-repeat='course in courses' value='{{ course._id }}') {{ course.title }}
                            td(ng-if='!showSelectBox(class) && !editBox(class)') {{coursesTitles[class.courseId]}}
                            td(ng-if='editBox(class)')
                                input.form-control(placeholder='New Course Name' type='text' ng-model='newCourse.newName')
                            td(ng-if='isTeacher() && !showSelectBox(class)')
                                a(ng-click='editCourseClass(class)')
                                    span.glyphicon.glyphicon-pencil
                            td(ng-if='isTeacher() && showSelectBox(class)')
                                a(ng-click='acceptCourseClass(class)')
                                    span.glyphicon.glyphicon-ok
                            td {{class._id | prettyDateId }}
                            td(ng-if='isTeacher()')
                                a(ng-click='deleteClass(class)')
                                    span.glyphicon.glyphicon-remove-sign
