@import url(http://fonts.googleapis.com/css?family=Coming+Soon);

html, body {
    height:100vh;
}

.left-menu {
    padding-left: 0px;
}

.left-menu ul.nav {
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    height: 75vh;
}

.left-menu ul.nav span.left-menu-item {
    color: #707070;
    display: block;
    padding: 15px 10px;
}

.left-menu ul.nav span.left-menu-item:hover {
    background-color: #eee;
}

.left-menu ul.nav li {
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-menu ul.nav li.active {
    font-weight: bold;
}

.left-menu ul.nav li.active span.left-menu-item {
    color: #606060;
}

.no-border { border: 0; }

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.right5 { margin-right:5px; }
.right7 { margin-right:7px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right30 { margin-right:30px; }

.in-line {
    display: inline-block;
    vertical-align: text-top;
}
