//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

h1 Analytics Setup
div
    nav
    ul.pagination
        li(ng-class = 'getActiveClass("stormAnalysis")' )
            a(href="#stormAnalysis" role="tab" data-toggle="tab") 1.- Select Analysis
        li(ng-class = 'getActiveClass("kibanaIndex")' )
            a(href="#kibanaIndex" role="tab" data-toggle="tab") 2.- Select Index
        li(ng-class = 'getActiveClass("kibanaVisualization")' )
            a(href="#kibanaVisualization" role="tab" data-toggle="tab") 3.- Select Visualizations
        li(ng-class = 'getActiveClass("configureFields")' )
            a(href="#configureFields" role="tab" data-toggle="tab") 4.- Map Fields
        li(ng-class = 'getActiveClass("traces")' )
            a(href="#traces" role="tab" data-toggle="tab") 5.- Test Everything

    .col-xs-12.col-md-12.tab-content(ng-if='game&&version' ng-controller='KibanaCtrl' ng-init='init(game, version)')
        #stormAnalysis.tab-pane.active
            include configuration/stormAnalysis
        #kibanaIndex.tab-pane
            include configuration/kibanaIndex
        #kibanaVisualization.tab-pane
            include configuration/kibanaVisualization
        #configureFields.tab-pane
            include configuration/configureFields
        #traces.tab-pane
            include configuration/traces

