//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

.container-fluid.theme-showcase
    h1 Information
    .row(ng-if='!isOfflineActivity()')
        .col-xs-12
            | Game link:
            a(href='{{ game.link }}') {{ game.link }}
        .col-xs-12
            | Tracking code:
            kbd.left10(ng-if='isDeveloper()') {{ version.trackingCode }}
            kbd.left10(ng-if='isTeacher()') {{ activity.trackingCode }}
    .row(ng-if='isTeacher() && isOfflineActivity()')
        hr
        .col-xs-12
            label Select a CSV traces file:
            input(type="file" file-model="tracesFile")
            button.btn.btn-primary.top5(type='submit', ng-click='uploadTracesFile()') Upload trace file
            .row
                .col-md-12
                    table.table.table-hover
                        thead
                            tr
                                th Trace file
                                th Time uploaded
                                th Author
                        tbody
                            tr(ng-if='!offlinetraces || offlinetraces.length === 0')
                                td(colspan=6)
                                    div.alert.alert-warning(style='margin-bottom: 0px') No trace files found
                            tr(ng-repeat='tracefile in offlinetraces')
                                td
                                    label {{tracefile.name}}
                                td
                                    label {{tracefile._id | prettyDateId }}
                                td
                                    label {{tracefile.author }}
    .row(ng-if='isDeveloper()')
        hr
        .col-xs-12
            h4 Developers
            .row(ng-if='isAuthor()')
                .col-md-12
                    .panel.panel-primary
                        .panel-heading Add developer to this game
                        .panel-body
                            label Username:
                                input.form-control(type='text' ng-model='developer.name')
                            a.btn.btn-primary(type='button', ng-click='inviteDeveloper()')
                                .glyphicon.glyphicon-plus
            .row
                .col-md-12
                    table.table.table-hover
                        thead
                            tr
                                th Developers
                                th Remove
                        tbody
                            tr(ng-if='activity.teachers.length == 0')
                                td(colspan=6)
                                    div.alert.alert-warning(style='margin-bottom: 0px') No teachers found
                            tr(ng-repeat='dev in game.developers')
                                td
                                    label {{dev}}
                                td
                                    a(ng-if='isRemovable(dev)' ng-click='ejectDeveloper(dev)')
                                        span.glyphicon.glyphicon-remove-sign


