//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 
style.
    #graphContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container.t {
        width: 500px;
        height: 300px;
        overflow: hidden;
    }
.container-fluid.top20(ng-controller='AnalyticsCtrl')
    h1 LRS Analytics
        a.pull-right(href='#' ng-click='getStatements()')
            span.glyphicon.glyphicon-refresh
    table#graphContainer
        tr
            td
                #verbs.container.t
                    h2#headerVerbs
                    svg
            td
                #actorActivity.container.t
                    h2#headerActivity
                    svg
        tr
            td
                #lrsActivityLastYear.container.t
                    h2#headerLrsYear
                    svg
            td
                #lrsActivityLastWeek.container.t
                    h2#headerLrsWeek
                    svg
