//- 
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 
ul.nav
    li.active
        span.left-menu-item(href="#info", role="tab", data-toggle="tab", ng-click="view = 'info'")
            span.glyphicon.glyphicon-info-sign.right20
            | Information
    li(ng-if='isTeacher()')
        span.left-menu-item(href="#students", role="tab", data-toggle="tab", ng-click="view = 'students'")
            span.glyphicon.glyphicon-apple.right20
            | Students
    li(ng-if='isTeacher()')
        span.left-menu-item(href="#realtime", role="tab", data-toggle="tab", ng-click="view = 'realtime'")
            span.glyphicon.glyphicon-dashboard.right20
            | Real time
    li(ng-if='isDeveloper()' ng-controller='AnalyticsCtrl')
        span.left-menu-item(href="#game-analytics", role="tab", data-toggle="tab", ng-click="view = 'game-analytics'; getStatements()")
            span.fa.fa-bar-chart.right20
            | Game analytics
    li(ng-if='isDeveloper()')
        span.left-menu-item(href="#config", role="tab", data-toggle="tab", ng-click="view = 'config'")
            span.glyphicon.glyphicon-cog.right20
            | Configuration

