h1 Students
.container.theme-showcase(ng-controller='AppCtrl')
    .row
        .col-md-8
            .checkbox
                label
                    input(type="checkbox" ng-change='allowAnonymous()' ng-model='checkboxAns')
                    | Allow anonymous users
                    br
    .row
        .col-md-8
            label Username:
                input.form-control(type='text' ng-model='student.name')
            a.btn.btn-primary(type='button', ng-click='inviteStudent()')
                | Add student
    .row
        .col-md-8
            table.table.table-hover
                tr(ng-repeat='student in selectedSession.students')
                    td
                        label {{student}}
                    td
                        a(ng-click='ejectStudent(student)')
                            span.glyphicon.glyphicon-remove-sign
