.container-fluid.top20
    h1 Visualizations
    .col-md-16
        label.top30 Add visualizations template:
        .row
            input.file(type='file' file-reader="templateVisualization")
            button.btn.btn-primary.top5(type='submit'  ng-click='submitTemplateVisualization()') Submit visualizations template
        .row
            label.top30 Example Visualization
            textarea.form-control.custom-control(rows='6' ng-model='exampleVisualization')
            button.btn.btn-primary.top15(ng-click='addTemplateVisualization()') Add text visualization
        .row(style="overflow-y:scroll; height:200px")
            table.table.table-hover.top30
                thead
                    tr
                        th Visualizations
                        th Selected
                tbody(ng-repeat='visualization in visualizationList')
                    tr
                        td
                            label {{visualizationTitleWithoutGameId(visualization)}}
                        td
                            label
                                input(type="checkbox" ng-model='checkboxVisualizations[visualization]' ng-click='selectVisualization(visualization)')
                                p
    .col-md-16
        table.table.table-hover.top30
            thead
                tr
                    th Template fields
                    th Values
            tbody
                tr(ng-repeat='field in visualizationFields')
                    td
                        label {{field}}
                    td
                        .btn-group.pull-left
                            button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
                                | {{getSelectedFieldName(field)}}
                                span.caret
                            ul.dropdown-menu
                                li(ng-repeat='f in dropfields')
                                    a(ng-click='selectField(field, f)') {{f}}
    .col-md-16
        .row
            nav.top30
            ul.pager
                li(class="previous")
                    a(href="#kibanaIndex" role="tab" data-toggle="tab" ng-click="view = 'kibanaIndex'") Previous
                        span.glyphicon.glyphicon-arrow-left
                li(class="next")
                    a(href="#traces" role="tab" data-toggle="tab" ng-click="view = 'traces'") Next
                        span.glyphicon.glyphicon-arrow-right