.container-fluid.top20
    .row
        h1 Visualizations
            a.pull-right.glyphicon.glyphicon-question-sign(href='https://github.com/e-ucm/rage-analytics/wiki/Analysis#select-visualizations'
                target="_blank" title="See documentation on GitHub")
    .row
        p {{kibanaVisualizationDescription}}
    .col-md-16
        .row
            label.top30 Add new visualizations template:
        .row
            input.file(type='file' file-reader="templateVisualization")
            button.btn.btn-primary.top5(type='submit'  ng-click='submitTemplateVisualization()') Submit visualizations template
        .row
            label.top30 Or use this visualization:
            button.btn.pull-right.top15(ng-click='seeTemplateVisualization = !seeTemplateVisualization')  {{templateButtonMsg(seeTemplateVisualization)}}
                span.caret
        .row(ng-if='seeTemplateVisualization')
            label.top30 Example Visualization
            textarea#exampleVisualization.form-control.custom-control(rows='6' ng-model='exampleVisualization')
            button.btn.btn-primary.top15(ng-click='addTemplateVisualization()') Use default visualization
        .row(style="overflow-y:scroll; height:200px").top30
            label.top30 Select the visualizations that you want use in your dashboard:
            table.table.table-hover
                thead
                    tr
                        th Visualizations
                        th Selected
                tbody(ng-repeat='defaultVis in defaultList')
                    tr.info
                        td
                            label {{defaultVis.title}}
                        td
                            label
                                input(type="checkbox" ng-model='checkboxVisualizations[defaultVis.id]' ng-click='selectVisualization(defaultVis.id)')
                                p
                tbody(ng-repeat='visualization in visualizationList')
                    tr
                        td
                            label {{visualization.title}}
                        td
                            label
                                input(type="checkbox" ng-model='checkboxVisualizations[visualization.id]' ng-click='selectVisualization(visualization.id)')
                                p
    .col-md-16
        .row
            nav.top30
            ul.pager
                li(class="previous")
                    a(href="#kibanaIndex" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'kibanaIndex'") Previous
                        span.glyphicon.glyphicon-arrow-left
                li(class="next")
                    a(href="#configureFields" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'configureFields'") Next
                        span.glyphicon.glyphicon-arrow-right