.container-fluid.top20
    .row
        h1 Visualizations
            a.pull-right.glyphicon.glyphicon-question-sign(href='{{DOCS.KIBANAVISUALIZATIONS}}'
                target="_blank" title="See documentation on GitHub")
    .row
        p {{kibanaVisualizationDescription}}
    .col-md-16
        .row
            label.top30 Add new visualizations template:
        .row
            input.file(type='file' file-reader="templateVisualization")
            button.btn.btn-primary.top5(type='submit'  ng-click='submitTemplateVisualization()') Submit visualizations template
        .row
            label.top30 Or use this visualization:
            button.btn.pull-right.top15(ng-click='seeTemplateVisualization = !seeTemplateVisualization')  {{templateButtonMsg(seeTemplateVisualization)}}
                span.caret
        .row(ng-if='seeTemplateVisualization')
            label.top30 Example Visualization
            textarea#exampleVisualization.form-control.custom-control(rows='6' ng-model='exampleVisualization')
            button.btn.btn-primary.top15(ng-click='addTemplateVisualization()') Use default visualization
        .row.top30
            ul.pagination
                li(ng-class = 'getActiveClass("visualizationsList")' )
                    a(href="#visualizationsList" role="tab" data-toggle="tab") Select Visualizations
                li(ng-class = 'getActiveClass("developerDashboard")' )
                    a(href="#developerDashboard" role="tab" data-toggle="tab") Sort developer dashboard
                li(ng-class = 'getActiveClass("teacherDashboard")' )
                    a(href="#teacherDashboard" role="tab" data-toggle="tab") Sort teacher dashboard

            .col-xs-12.col-md-12.tab-content
                #visualizationsList.tab-pane.active
                    include visualizations/visualizationsList
                #developerDashboard.tab-pane
                    include visualizations/developerDashboard
                #teacherDashboard.tab-pane
                    include visualizations/teacherDashboard
    .col-md-16
        .row
            nav.top30
            ul.pager
                li(class="previous")
                    a(href="#kibanaIndex" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'kibanaIndex'") Previous
                        span.glyphicon.glyphicon-arrow-left
                li(class="next")
                    a(href="#configureFields" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'configureFields'") Next
                        span.glyphicon.glyphicon-arrow-right