.container-fluid.top20
    .row
        h1 Visualizations
            a.pull-right.glyphicon.glyphicon-question-sign(href='{{DOCS.KIBANAVISUALIZATIONS}}'
                target="_blank" title="See documentation on GitHub")
    .row
        p {{kibanaVisualizationDescription}}
    .col-md-16
        .row
            label.top30 Add new visualizations template:
        .row
            input.file(type='file' file-reader="templateVisualization")
            button.btn.btn-primary.top5(type='submit'  ng-click='submitTemplateVisualization()') Submit visualizations template
        .row
            label.top30 Or use this visualization:
            button.btn.pull-right.top15(ng-click='seeTemplateVisualization = !seeTemplateVisualization')  {{templateButtonMsg(seeTemplateVisualization)}}
                span.caret
        .row(ng-if='seeTemplateVisualization')
            label.top30 Example Visualization
            textarea#exampleVisualization.form-control.custom-control(rows='6' ng-model='exampleVisualization')
            button.btn.btn-primary.top15(ng-click='addTemplateVisualization()') Use default visualization
        .row.top30
            label.top30 Select the visualizations that you want use in your dashboard:
            button.btn-info(ng-if='waitOperation')
                span.fa.fa-refresh.fa-spin
        .row.top30
            table.table.table-striped.hover.fix
                thead.fix
                    tr.fix
                        th.fix.large Visualizations
                        th.fix.short Teacher
                        th.fix.short Developer
                tbody.fix.overflow
                    tr.fix.info(ng-repeat='defaultVis in defaultList')
                        td.fix.filterable-cell.large
                            label {{defaultVis.title}}
                        td.fix.filterable-cell.short
                            label
                                input(type="checkbox" ng-model='checkboxVisualizationsTch[defaultVis.id]' ng-if='!waitOperation'  ng-click='selectVisualization("tch", defaultVis.id)')
                                p
                        td.fix.filterable-cell.short
                            label
                                input(type="checkbox" ng-model='checkboxVisualizationsDev[defaultVis.id]' ng-if='!waitOperation' ng-click='selectVisualization("dev", defaultVis.id)')
                                p
                    tr.fix(ng-repeat='visualization in visualizationList')
                        td.fix.filterable-cell.large
                            label {{visualization.title}}
                        td.fix.filterable-cell.short
                            label
                                input(type="checkbox" ng-model='checkboxVisualizationsTch[visualization.id]' ng-if='!waitOperation' ng-click='selectVisualization("tch", visualization.id)')
                                p
                        td.fix.filterable-cell.short
                            label
                                input(type="checkbox" ng-model='checkboxVisualizationsDev[visualization.id]' ng-if='!waitOperation' ng-click='selectVisualization("dev", visualization.id)')
                                p
    .col-md-16
        .row
            nav.top30
            ul.pager
                li(class="previous")
                    a(href="#kibanaIndex" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'kibanaIndex'") Previous
                        span.glyphicon.glyphicon-arrow-left
                li(class="next")
                    a(href="#configureFields" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'configureFields'") Next
                        span.glyphicon.glyphicon-arrow-right