.container-fluid.top20
    h1 Analysis
    .row(ng-controller='AppCtrl')
        .col-md-16
            label.top30 Add an analysis package:
            label(ng-if="analysis._id") An analysis already exists, it's going to be overridden
            .row
                .btn.btn-primary.top5.right10(ngf-select='' ng-model='file' name='file' ngf-pattern="'*'" ngf-accept="'*'"
                ngf-max-size='200MB' ngf-min-height='100' ngf-resize='{width: 100, height: 100}') Select
                button.btn.btn-primary.top5(type='submit', ng-click='submit()') Submit
            .row
                nav.top30
                ul.pager
                    li.previous.disabled
                        a(href="#") Previous
                            span.glyphicon.glyphicon-arrow-left(aria-hidden="true")
                    li.next
                        a(href="#kibanaIndex" role="tab" data-toggle="tab" ng-click="view = 'kibanaIndex'") Next
                            span.glyphicon.glyphicon-arrow-right
