.container-fluid.top20
    .row
        h1 Analysis
            a.pull-right.glyphicon.glyphicon-question-sign(href='https://github.com/e-ucm/rage-analytics/wiki/Analysis#select-the-analysis'
                target="_blank" title="See documentation on GitHub")
    .row
        p {{analysisDescription}}
        label.label-info.top30(ng-if="!analysis._id") Now you are using the default analysis.
        label.label-warning.top30(ng-if="analysis._id") You already have an analysis uploaded.
        button.btn-info(ng-if='loadingAnalysis') Loading
            span.fa.fa-refresh.fa-spin
    .col-md-16
        .row
            label.top30 Add an analysis package:
        .row
            .btn.btn-primary.top5.right10(ngf-select='' ng-model='file' name='file' ngf-pattern="'*'" ngf-accept="'*'"
            ngf-max-size='200MB' ngf-min-height='100' ngf-resize='{width: 100, height: 100}') Select
            button.btn.btn-primary.top5(type='submit', ng-click='submit()') Submit
        .row
            label.top30(text-align= 'right') or Use default analysis:
        .row
            button.btn.btn-primary.top5(type='submit', ng-click='deleteAnalysis()') Select default analysis
    .row.top30
        nav.top30
        ul.pager
            li.previous.disabled
                a(href="#") Previous
                    span.glyphicon.glyphicon-arrow-left(aria-hidden="true")
            li.next
                a(href="#kibanaIndex" role="tab" data-toggle="tab" ng-click="selectedConfigView = 'kibanaIndex'") Next
                    span.glyphicon.glyphicon-arrow-right
