.container-fluid.top20
    h1 CHECK
    .col-md-16
            label.top30 Select a xAPI statements json file:
            .row
                input.file(type='file' file-reader="statementsFile")
                button.btn.btn-primary.top5(type='submit'  ng-click='submitStatementsFile()') Start statements analsysis
        .col-md-16
            .row(ng-if='statementSubmitted')
                button.btn.btn-warning.top30(ng-click='generateTestVisualization()') Restart visualization test
                iframe#dashboardIframe.no-border.top10(src = "{{dashboardLink}}" height="600" width="800")
    .col-md-16
        .row
            nav.top30
            ul.pager
                li(class="previous")
                    a(href="#kibanaVisualization" role="tab" data-toggle="tab" ng-click="view = 'kibanaVisualization'") Previous
                        span.glyphicon.glyphicon-arrow-left
                li(class="next")
                    a(href="#") Next
                        span.glyphicon.glyphicon-arrow-right(aria-hidden="true")