extends page
block content
    .container.theme-showcase(ng-controller='AppCtrl')
        .col-md-12
            h1
                a(ng-if='isDeveloper()' href="#", editable-text="selectedGame.title" onaftersave="changeTitle()") Game {{ selectedGame.title }}
                label(ng-if='!isDeveloper()') Game {{ selectedGame.title }}
        .col-md-12
            h3(ng-if='isTeacher()')
                a(href="#", editable-text="selectedSession.name" onaftersave="changeSessionName()") Class {{ selectedSession.name }}
        .container-fluid(ng-show="selectedVersion")
            .row
                .col-xs-3.col-md-2.left-menu(ng-controller='HomeCtrl')
                    include data/menu
                .col-xs-9.col-md-10.tab-content
                    #info.tab-pane.active
                        include data/information
                    #realtime.tab-pane
                        include data/realtime
                    #students.tab-pane
                        include data/students
                    #config.tab-pane
                        include data/config


