extends page
block content
    .container.theme-showcase(ng-controller='AppCtrl')
        .col-md-12
            h1
                a(ng-if='isDeveloper()' href="#", editable-text="selectedGame.title" onaftersave="changeTitle()") Game {{ selectedGame.title }}
                label(ng-if='!isDeveloper()') Game {{ selectedGame.title }}
        .col-md-12
            h3(ng-if='isTeacher()')
                a(href="#", editable-text="selectedSession.name" onaftersave="changeSessionName()") Class {{ selectedSession.name }}
            div(ng-if='isTeacher()' ng-controller='ClassCtrl' ng-model='selectedSession')
                button.btn-success(ng-if='sessionState(selectedSession)' ng-click='endSession(selectedSession)') Opened
                button.btn-warning(ng-if='!sessionState(selectedSession)' ng-click='startSession(selectedSession)') Closed
                span.fa.fa-refresh.fa-spin(ng-if='loading')  Loading...
        .container-fluid(ng-show="selectedVersion")
            .row
                .col-xs-3.col-md-2.left-menu(ng-controller='HomeCtrl')
                    include data/menu
                .col-xs-9.col-md-10.tab-content
                    #info.tab-pane.active
                        include data/information
                    #realtime.tab-pane
                        include data/realtime/realtime
                    #students.tab-pane
                        include data/students
                    #game-analytics.tab-pane
                        include data/game-analytics
                    #config.tab-pane
                        include data/config


