doctype html
html
    head
        base(href='/')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        // Bootstrap Core CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
        // Custom Fonts
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
        title= title
    body(ng-app='myApp')
        script(src="/bower/jquery/dist/jquery.min.js")
        script(src="/bower/jquery-dateFormat/dist/jquery-dateFormat.min.js")
        script(src="/bower/jquery-query/index.js")
        script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bower/underscore/index.js")
        script(src="/bower/angular/angular.js")
        script(src="/bower/angular-resource/angular-resource.js")
        script(src="/bower/angular-route/angular-route.min.js")
        script(src="/bower/javascript-detect-element-resize/jquery.resize.js")
        script(src="/bower/angular-gridster/dist/angular-gridster.min.js")
        script(src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="/bower/angular-xeditable/dist/js/xeditable.min.js")
        script(src="/bower/jquery-file-upload/js/vendor/jquery.ui.widget.js")
        script(src="/bower/jquery-file-upload/js/jquery.iframe-transport.js")
        script(src="/bower/jquery-file-upload/js/jquery.fileupload.js")
        script(src="/bower/checklist-model/checklist-model.js")
        script(src="/bower/ngstorage/ngstorage.min.js")
        script(src="/bower/d3/d3.min.js")
        script(src='/js/services.js')
        script(src='/js/controllers/signup.js')
        script(src='/js/controllers/login.js')
        script(src='/js/controllers/home.js')
        script(src='/js/controllers/game.js')
        script(src='/js/controllers/class.js')
        script(src='/js/controllers/app.js')
        block toolbar
        block content