//-
    Copyright 2016 e-UCM (http://www.e-ucm.es/)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    This project has received funding from the European Union’s Horizon
    2020 research and innovation programme under grant agreement No 644187.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0 (link is external)

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

doctype html
html
    head
        base(href= "#{locals['basePath']}")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        //Favicon
        link(rel="icon" type="image/png" href="rageicon.png")
        // Bootstrap Core CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='bower/animate.css/animate.css', rel='stylesheet')
        // Custom Fonts
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet' href='css/nv.d3.css')
        link(rel='stylesheet' href='css/app.css')
        title= title
    body(ng-app='myApp' ng-controller='AppCtrl')
        script(src="bower/jquery/dist/jquery.min.js")
        script(src="bower/jquery-dateFormat/dist/jquery-dateFormat.min.js")
        script(src="bower/jquery-query/index.js")
        script(src="bower/bootstrap/dist/js/bootstrap.min.js")
        script(src="bower/remarkable-bootstrap-notify/dist/bootstrap-notify.js")
        script(src="bower/underscore/index.js")
        script(src="bower/angular/angular.js")
        script(src="bower/angular-resource/angular-resource.js")
        script(src="bower/angular-route/angular-route.min.js")
        script(src="bower/angular-ui-router/release/angular-ui-router.js")
        script(src="bower/angular-cookies/angular-cookies.min.js")
        script(src="bower/javascript-detect-element-resize/jquery.resize.js")
        script(src="bower/angular-gridster/dist/angular-gridster.min.js")
        script(src="bower/angular-bootstrap/ui-bootstrap-tpls.min.js")
        script(src="bower/angular-xeditable/dist/js/xeditable.min.js")
        script(src="bower/jquery-file-upload/js/vendor/jquery.ui.widget.js")
        script(src="bower/jquery-file-upload/js/jquery.iframe-transport.js")
        script(src="bower/jquery-file-upload/js/jquery.fileupload.js")
        script(src="bower/checklist-model/checklist-model.js")
        script(src="bower/ngstorage/ngStorage.min.js")
        script(src="bower/angular-animate/angular-animate.min.js")
        script(src="bower/angular-sanitize/angular-sanitize.min.js")
        script(src="bower/ng-file-upload/ng-file-upload.js")
        script(src="bower/d3/d3.min.js")
        script(src='libs/xapicollection.min.js')
        script(src='libs/xapidashboard.min.js')
        script(src='js/services.js')
        script(src='js/controllers/devVisualizator.js')
        script(src='js/controllers/analytics.js')
        script(src='js/controllers/signup.js')
        script(src='js/controllers/login.js')
        script(src='js/controllers/loginplugin.js')
        script(src='js/controllers/toolbar.js')
        script(src='js/controllers/game.js')
        script(src='js/controllers/analysis.js')
        script(src='js/controllers/kibana.js')
        script(src='js/controllers/game-list.js')
        script(src='js/controllers/class.js')
        script(src='js/controllers/participantsConf.js')
        script(src='js/controllers/class-list.js')
        script(src='js/controllers/activity.js')
        script(src='js/controllers/activity-list.js')
        script(src='js/controllers/app.js')
        script(src='js/env-vars.js')
        block toolbar
        block loginplugin
        ui-view