nav.navbar.navbar-inverse.navbar-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.btn.navbar-brand(ng-click="href('/')") GF
        #navbar.navbar-collapse.collapse(ng-controller='AppCtrl')
            ul.nav.navbar-nav
                li(ng-if='isUser()')
                    a.btn(ng-href='#' ng-click='deselectedGameAndGo("/home")') Home
                li(ng-if='!isUser()')
                    a.btn(ng-click="href('/signup')") SignUp
                li.dropdown
                    li(ng-if='isUser()&&hasGames()')
                        a#dropdownGames.btn(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Games
                            span.caret
                        ul.dropdown-menu(aria-labelledby='dropdownGames')
                            li(ng-repeat='game in games')
                                a(ng-if='isDeveloper()' ng-href='/data?game={{game._id}}' ng-click='setSelectedGame(game)') {{game.title}}
                                a(ng-if='!isDeveloper()' ng-href='/class?game={{game._id}}' ng-click='setSelectedGame(game)') {{game.title}}
                li.dropdown
                    li(ng-if='isUser()&&isTeacher()&&hasSessions()')
                        a#dropdownClasses.btn(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Classes
                            span.caret
                        ul.dropdown-menu(aria-labelledby='dropdownClasses')
                            li(ng-repeat='session in sessions')
                                a(ng-href="#" ng-click='setSelectedSession(session, "/data")') {{session.name}}
            ul.nav.navbar-nav.navbar-right
                li
                    span.label.label-danger(ng-if='isDeveloper()') developer role
                    span.label.label-primary(ng-if='isTeacher()')  teacher role
                    span.label.label-default(ng-if='isStudent()')  student role
                li.dropdown
                    li(ng-if='isUser()')
                        a#dropdownUser.btn(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                            i.fa.fa-user
                            |  {{username}}
                            span.caret
                        ul.dropdown-menu(aria-labelledby='dropdownUser')
                            li
                                a.btn(ng-click='logout()')
                                    i.fa.fa-sign-out
                                    |   Logout
                li(ng-if='!isUser()')
                    a.btn(ng-click="href('/login')")
                        i.fa.fa-user
                        |   Login
